.adventures {
    background: rgb(21,0,41);
    background: linear-gradient(90deg, rgba(21,0,41,1) 13%, rgba(41,161,156,1) 65%, rgba(163,247,191,1) 100%);
    min-height: 250rem;
    position: relative;
    overflow: hidden;
}

.adventureBox {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cardAdv {
    border-radius: 10rem;
    width: 40%;
    background-color: transparent;
    border-width: 0.2rem;
    border-color: rgb(255, 255, 255);
padding: 2rem;
margin: 1rem;
border-style: ridge;
color: white;
}

.cardAdv img {
    border-radius: 1rem;
}

.cardAdv a {
    background-color: #740028;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
  
    line-height: 20px;
    list-style: none;
    margin: 0.7rem;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.cardAdv a:hover {
  background-color: #f3ae40;
  color:#52001d;
}

a.addAdv{
    text-decoration: none;
    background-color: #740028;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
  
    line-height: 20px;
    list-style: none;
    margin: 0.7rem;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
   }


   a:hover.addAdv {
    background-color: #f3ae40;
    color:#52001d;
  }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

 .cardAdv {
          width: 100%;
           margin: auto;
           background-color: transparent;
           border-style: none;
           border-radius: 0rem;
           border-color: transparent;
       }
   
   

   }