.card {
    display: inline-flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    text-align: center; 
margin-bottom: 1rem;
    width: 30%;
}


.gameCard {
    background-color: transparent;
    max-width: 90%;
    border-color: transparent;
}
.gameCard img {

width: 80%;
object-fit: contain;
}

.cardContent {
padding: 0.2rem;
background-color:  #850048;

border-radius: 5rem;

}

.gameCard h4 {
color: white;
font-size: 2rem;
}