.searchedGames {
    display: inline-flex;
    flex-direction: row;

    align-items: center;
    text-align: center; 
    height: 40rem;
}

.container {
    display: inline-flex;
    flex-direction: row;

    align-items: center;
    text-align: center; 
    height: 40rem;
}