@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family:  'Roboto', 'Droid Sans', 'Segoe UI','Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans',  'Helvetica Neue',
    sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(21,0,41);
  background: linear-gradient(90deg, rgba(21,0,41,1) 13%, rgba(41,161,156,1) 65%, rgba(163,247,191,1) 100%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


 button, .button, .logout, .closeBtn  {
  background-color: #740028;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;

  line-height: 20px;
  list-style: none;
  margin: 0.7rem;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



button:hover,
button:focus {
  background-color: #f3ae40;
  color:#52001d;
}

.button.card {
  background-color: #f3ae40
}

a {
  text-decoration: none;
  color: #ffffff;
 }
 
 ul li a:hover,
ul#subnavigation .active,
ul li a.active,
#subnavigation li a:hover {
  color: #fdc161;
}
